<div class="top-wrapper">
  <div class="container">
    <h1>問い合わせフォームから問い合わせがありました</h1>
    <br>
    ----------------------------------------------------
    <br>
    <p>氏名: <%= @contact.name %></p>
    <br>
    <p>メールアドレス: <%= @contact.email %></p>
    <br>
    <p>お問い合わせ内容:<%= @contact.message %></p>
    <br>
    ----------------------------------------------------
</div>
