// Place all the styles related to the house controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article, div, footer, header, nav, section {
    padding: 0;
    position: relative;
}
body{
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
}
header{
  position:fixed;
  top:0;
  z-index:10;
}

.contain{
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
  height: 60px;
}
.header-left{
  float: left;
}
.fa-large{
  font-size: 50px ;
  float: left;
}

.vertical{
  background-color: #262626;
  height: 50px;
  margin: 0 16px;
  width: 1px;
  float: left;
}
.logo{
  float:left;
}
.logo p{
  padding:20px;
  float:left;
}
.spell{
  float: left;
}
.spellchild{
  font-size: 35px;
  text-align: center;
  float: left;
  padding-top:10px;
}
.header-right{
  float: right;
  width: 1000px;
}
.mypage{
  margin: 10px 20px;
  float: right;
  text-align: center;
}
.logout{
  margin: 10px 20px;
  float: right;
  text-align: center;
}
.login{
  margin: 20px 20px;
  float: right;
  text-align: center;
}
.logined{
  padding-top:5px;
  margin: 20px 20px;
  float: right;
  text-align: center;
}
.list{
  margin: 10px 20px;
  float: right;
  text-align: center;
}
.favorite{
  margin: 10px 20px;
  float: right;
  text-align: center;
}
.registration{
  margin: 10px 20px;
  text-align: center;
  float: right;
}
.login{
  margin: 10px 20px;
  text-align: center;
  float: right;
}
.search{
  margin: 10px 20px;
  text-align: center;
  float: right;
}
.change{
  margin: 10px 20px;
  text-align: center;
  float: right;
}
.new{
  margin: 10px 20px;
  text-align: center;
  float: right;
}
.top-wrapper {
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  width: 100%;
  padding: 100px 0 100px 0;
  background-size: cover;
}
.container {
  width: cover;
  padding: 100 px 15px;
  margin: 0 auto;
}

.rentlabel{
  float: left;
}
.renttext{
  float: left;
}
.locationlabel{
  float: left;
}
.locationtext{
  float: left;
}
.accesslabel{
  float: left;
}
.accesstext{
  float: left;
}
.rentlabel{
  float: left;
}
.renttext{
  float: left;
}
.depositlabel{
  float: left;
}
.deposittext{
  float: left;
}
.gratuityfeelabel{
  float: left;
}
.gratuityfeetext{
  float: left;
}
.arealabel{
  float: left;
}
.areatext{
  float: left;
}
.agelabel{
  float: left;
}
.agetext{
  float: left;
}
.layoutlabel{
  float: left;
}
.layouttext{
  float: left;
}
.lightninglabel{
  float: left;
}
.lightningtext{
  float: left;
}
.servicelabel{
  float: left;
}
.servicetext{
  float: left;
}
.hashtaglabel{
  float: left;
}
.hashtagtext{
  float: left;
}
.imagelabel{
  float: left;
}
.imagetext{
  float: left;
}






